---
layout: base.njk
title: bonjourmonde
---

{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour le MONDE !" }) }}
    </div>
</div>